/*Page 1*/

.LoginBG{
  background-image: url("background.jpg");
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.LoginBox{
  height: 430px;
  width: 480px;
  top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -215px;
    margin-left: -240px;
background-color: rgb(255, 255, 255);
border-radius: 12px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
text-align: center;
display: flex;
flex-direction: column;
}

#LogButton{
  background-color: rgb(77, 49, 71);
  color: white;
  width: 360px;
  height: 50px;
  border-radius: 15px;
  position:absolute;
  top: 300px;
  left: 60px;
}
 .senha{
box-sizing: border-box;
width: 360px;
position: absolute;
height: 40px;
left: 60px;
right: 60px;
top: 200px;

border: 1px solid #D6D9DE;
border-radius: 9px;
 }

 .emailLabel{
  position: absolute;
  height: 40px;
  left: -244px;
  right: 60px;
  top: 180px;
 }

.email{
box-sizing: border-box;
width: 360px;
position: absolute;
height: 40px;
left: 60px;
right: 60px;
top: 115px;

border: 1px solid #D6D9DE;
border-radius: 9px;

 }

 .senhaLabel{

position: absolute;
height: 40px;
left: -244px;
right: 60px;
top: 95px;
 }

 .emailIcon{
position:absolute;
height: 40px;
left: 40px;
right: 60px;
top: 115px;
 }

 .senhaIcon{
  position:absolute;
  height: 40px;
left: 40px;
right: 60px;
top: 200px;

 }

 /*Page 2*/

 .navBody{

position: absolute;
width: 80px;
left: 0px;
top: 0px;
bottom: -62px;

background: #FFFFFF;
box-shadow: rgba(222, 234, 247, 1) 15px 15px 15px;
 }

.navRect{

width: 2px;
height: 40px;

background: linear-gradient(180deg, rgba(238, 236, 250, 0) 0%, #F9F9F9 51.44%, rgba(238, 236, 250, 0) 100%);
border-radius: 18px;
transform: rotate(90deg);

flex: none;
order: 0;
flex-grow: 0;

}

 .usersBox{
 
display: flex;
justify-content: center;
align-items: center;
padding: 2px;
gap: 8px;
color:white;
position: absolute;
width: 54px;
height: 54px;
left: calc(50% - 54px/2);
top: 13px;

background: rgb(77, 49, 71);
border-radius: 15px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
 }
 .nameIcon{
  display:flex;
  justify-content: center;
  align-items: center;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 color: white;
 background-color: rgb(77, 49, 71);
 }

 .searchBar{
  position: absolute;
  box-sizing: border-box;
width: 360px;
height: 45px;
left: 330px;
top: 130px;
border: 1px solid #D6D9DE;
border-radius: 9px;
 }

 .magGlass{
  color: rgb(138, 138, 142);
  width: 30px;
  height: 30px;
  position:absolute;
height: 40px;
left: 290px;
top: 133px;
 }

.cardBody{
position: absolute;
width: 208px;
height: 269px;
left: 128px;
top: 178px;

background: #FFFFFF;
border-radius: 8.10526px;
}