.LoginBG{
  background-image: url("background.jpg");
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.LoginBox{
  height: 430px;
  width: 480px;
  top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -215px;
    margin-left: -240px;
background-color: rgb(255, 255, 255);
border-radius: 12px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
text-align: center;
display: flex;
flex-direction: column;
}

#LogButton{
  background-color: rgb(77, 49, 71);
  color: white;
  width: 360px;
  height: 50px;
  border-radius: 15px;
  position:absolute;
  top: 300px;
  left: 60px;
}
 .senha{
box-sizing: border-box;

position: absolute;
height: 40px;
left: 60px;
right: 60px;
top: 200px;

border: 1px solid #D6D9DE;
border-radius: 9px;
 }

 .senhaLabel{
  position: absolute;
height: 40px;
left: -234px;
right: 60px;
top: 85px;
 }

.email{

box-sizing: border-box;

position: absolute;
height: 40px;
left: 60px;
right: 60px;
top: 115px;

border: 1px solid #D6D9DE;
border-radius: 9px;

 }

 .emailLabel{
  position: absolute;
height: 40px;
left: -234px;
right: 60px;
top: 170px;
 }